<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/content/body.css" rel="stylesheet" type="text/css" />
        <link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
        @RenderSection("head", required: false)
    </head>
    <body>
        <div class="navigation">
          <ul>
            <li><a href="/"><span>Availability</span></a></li>
            <li><a href="/bookingstatus"><span>Booking Status</span></a></li>
            <li><a href="/cancellation"><span>Cancellation</span></a></li>
          </ul>
        </div>
        <div class="container">
            @Html.Partial("_validationSummary")
            @if (IsSectionDefined("Left"))
            {
                <div id="left">@RenderSection("Left", required: false)</div><div id="right">@RenderBody()</div>
            }
            else
            {
                @RenderBody()
            }
            <footer>
                <hr>
                <p>&copy; @System.DateTime.Now.ToString("yyyy"). Spartan Inc.</p>
            </footer> 
        </div>
        <div id="status"></div>
         @Html.Partial("_scripts")
         @RenderSection("Scripts", required: false)
    </body>
</html>

