@model SpartanHotels.Entities.CancellationRequest
@{
    ViewBag.Title = "Booking Cancellation";
}

<h2>@ViewBag.Title</h2>

<div id="results">
    Conf # <span data-bind="text: ConfirmationNumber"></span><br />
    Book # <span data-bind="text: BookingNumber"></span><br />
    Status: <span data-bind="text: StatusValue"></span>
</div>
<div id="status"></div>

@section Left{
@using (Ajax.BeginForm(new AjaxOptions {
    Url = Url.Action("Cancel", "Cancellation"),
    OnBegin = "ShowWait",
    OnSuccess = "BindResults",
    OnFailure = "HideResults"
}))
{
    @Html.ValidationSummary(true)
<fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmationNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmationNumber)
            @Html.ValidationMessageFor(model => model.ConfirmationNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BookingNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BookingNumber)
            @Html.ValidationMessageFor(model => model.BookingNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <p>
            <input type="submit" value="Get Status" />
        </p>
</fieldset>
}
}
@section Scripts{
    <script src="~/Scripts/MvcFoolproofJQueryValidation.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var
            viewModel = ko.observable(),
            BindResults = function (data) {
                ShowResults();
                viewModel(data);
            },
            HideResults = function () {
                $('#results').hide()
            },
            ShowWait = function () {
                $('#status').show()
            },
            ShowResults = function () {
                $('#status').hide()
                $("#results").show();
            };
        ko.applyBindings(viewModel);
    </script>
}
